
/****************************************************** Адаптив (>1200) **************************************************************************************************/

@media screen and (max-width: 1200px) {

}

/****************************************************** Адаптив (>1024) **************************************************************************************************/

@media screen and (max-width: 1024px) {

}

/****************************************************** Адаптив (768) **************************************************************************************************/

@media screen and (max-width: 768px) {
    content h1{
        margin: 2rem 1.2rem;
        font-size: 15pt;
    }

}
@media screen and (max-width: 576px) {

}

/****************************************************** Адаптив (480) **************************************************************************************************/

@media screen and (max-width: 480px) {



}
@media screen and (max-width: 320px) {
    content h1{
        margin: 1rem 1.2rem;
        font-size: 10pt;
    }

}
