
/****************************************************** Адаптив (1200) **************************************************************************************************/

@media screen and (max-width: 1200px) {

}

/****************************************************** Адаптив (992) **************************************************************************************************/

@media screen and (max-width: 1024px) {
    .logo img {
        display: none;
    }
    .cart p, .heart p {
        font-size: .7rem;
    }

}

/****************************************************** Адаптив (768) **************************************************************************************************/

@media screen and (max-width: 768px) {
    .logo img {
        display: none;
    }
    .cart p, .heart p {
        font-size: .8rem;
    }


}

/****************************************************** Адаптив (480) **************************************************************************************************/

@media screen and (max-width: 480px) {
    .heart span button{
        width: 4rem;
        font-size: .8rem;
    }
    .logo img {
        display: none;
    }

}
@media screen and (max-width: 320px) {
    .cart img{
        width: 3.5rem;
        height: 2.7rem;
    }
    .logo img {
        display: none;
    }

}
