* {
    margin: 0;
    padding: 0;
}

ul li {
    text-decoration: none;
}

a {
    text-decoration: none;
}

nav {
    border-bottom: 1px solid rgba(31, 26, 26, 0.25);
}

body {
    background-color: #e98484;
}

nav a {
    font-size: 10pt;
    color: rgb(134, 65, 50);
}

nav a:hover {
    border-radius: 3px;
    background-color: rgba(96, 59, 95, 0.04);
}

#ua, #ru {
    font-size: .6rem;
    padding: .2rem .2rem .2rem .2rem;
    height: 1.5rem;
    color: rgb(255, 255, 255);
}

.cart p, .heart p {
    font-size: .8rem;
}

.cart span, .heart span {
    position: absolute;
    margin-left: 2.5rem;
}

.cart img, .heart img {
    width: 3rem;
    height: 3.5rem;
}

.bloc1 {}

.logo img {
    width: 4rem;
    height: 5rem;
}

.bloc2 {}
