* {
    margin: 0;
    padding: 0;
}

nav {
    border-bottom: 1px solid rgba(31, 26, 26, 0.25);
}

body {
    background-color: #e98484;
}

nav a {
    font-size: 10pt;
    color: rgb(134, 65, 50);
}

nav a:hover {
    border-radius: 3px;
    background-color: rgba(96, 59, 95, 0.04);
}

nav .navbar-brand a{
    padding: .3rem;
    border-radius: .2rem;
    background-color: #27719a;
    font-size: .7rem;
    color: #ffffff;
}
nav .navbar-brand a:visited[href="index.html"]{
    background-color: #204357;
}

.cart p, .heart p {
    font-size: 10pt;
}

.cart span, .heart span {
    position: absolute;
    margin-left: 2.5rem;
}

.cart img, .heart img {
    margin-top: .5rem;
    width: 3rem;
    height: 3rem;
}

.logo img {
    width: 4rem;
    height: 5rem;
}
/*------------------------content--------------------------------------*/
content{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill,minmax(200px ,300px));
    grid-auto-rows: auto;
    grid-gap:20px;
}

.con{
    display: grid;
    grid-template-columns: 65px;
    grid-template-areas:
    "img1 img img"
    "img2 img img"
    "img3 img img"
    ;
    grid-gap:5px;
}
.tov{
    border-radius: 10px;
    border: 1px solid rgba(67, 65, 69, 0.14);
}
.img{
    border-radius: 10px;
    grid-area: img;
}
.img1, .img2, .img3 {
    align-self: start;
    border-radius: 10px;

}
.img1{grid-area: img1;}
.img2{grid-area: img2;}
.img3{grid-area: img3;}

.tov_info {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 40px 40px 35px;
    }

.tov_info button{
    justify-self: center;
}

/*------------------------content--------------------------------------*/

/*------------------------footer--------------------------------------*/

footer {
    margin-top: 2rem;

}

.title-widget {
    color: #0e0e0e;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.widget_nav_menu ul li{
    font-size: .8rem;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: .2rem;
    padding-bottom: .2rem;
    padding-left: 35%;
}

.bottom {
    height: 2.7rem;
    background-color: #15224f;
    color: #fff;
    font-size: .8rem;
    display: flex;
    justify-content: cnter;
    padding: 8px;

}


/*------------------------footer--------------------------------------*/
