
/****************************************************** Адаптив (1200) **************************************************************************************************/

@media screen and (max-width: 1200px) {

}

/****************************************************** Адаптив (992) **************************************************************************************************/

@media screen and (max-width: 992px) {
    .bloc1 img {
        display: none;
    }

}

/****************************************************** Адаптив (768) **************************************************************************************************/

@media screen and (max-width: 768px) {
    .bloc1 img {
        display: none;
    }

}

/****************************************************** Адаптив (480) **************************************************************************************************/

@media screen and (max-width: 480px) {
    .bloc3 span button{
        width: 4rem;
        font-size: .8rem;
    }
    .bloc1 img {
        display: none;
    }

}
@media screen and (max-width: 320px) {
    .cart img{
        width: 3.5rem;
        height: 2.7rem;
    }
    .bloc1 img {
        display: none;
    }

}
